<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.trabalho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Deletecategories"
            android:label="@string/title_activity_deletecategories"
            android:parentActivityName=".Categories"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.Categories" />
        </activity>
        <activity
            android:name=".addCategorie"
            android:label="@string/title_activity_add_categorie"
            android:parentActivityName=".Categories"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.Categories" />
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.MainActivity" />
        </activity>
        <activity
            android:name=".DeleteProfile"
            android:label="@string/title_activity_delete_profile"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.Profile" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.MainActivity" />
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.MainActivity" />
        </activity>
        <activity
            android:name=".jogoActivity"
            android:label="@string/title_activity_jogo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.trabalho.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>